<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">

    <Properties>
        <Property name="logdir">/JAVA/Servlets/Payments/logs</Property>
        <Property name="layout">%d [%t] %-5p %c- %m%n%ex{none}</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <RollingFile name="LOCALHOST"
                     fileName="${logdir}/localhost.log"
                     filePattern="${logdir}/localhost.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <!--                <TimeBasedTriggeringPolicy/>-->
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LOCALHOST"/>
        </Root>

        <Logger name="org.anatkor"
                level="debug" additivity="false">
            <AppenderRef ref="LOCALHOST"/>
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>
</Configuration>